[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
chromadb = "*"
xxhash = "*"
cachetools = "*"
sentence-transformers = "*"
polars = "*"
selectolax = "*"
pymupdf = "*"
faiss-cpu = "*"
rank-bm25 = "*"
numpy = "*"

[dev-packages]

[requires]
python_version = "3.10"
